nextflow.enable.dsl = 2

includeConfig "$projectDir/conf/base.config"
includeConfig "$projectDir/conf/params.config"

dag.overwrite = true

trace {
    enabled  = true
    file     = "${params.outdir}/trace.txt"
    overwrite = true
}

nextflow {
    clean {
        afterRun = true
    }
}

profiles {
    conda {
        conda.enabled = true
    }

    debug {
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
    }
}

workDir = '/cosmos/data/nextflow-scvi-validation-work'

manifest {
    name            = 'scvi-validation'
    author          = 'rschwartz'
    description     = 'Validation of scVI embeddings and RF/kNN classifiers'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1.0'
}
